<h1> Log out </h1>

<%= form_tag do %>
  <% users = User.all.select {|user| user if logged_in? user } %>
  <% filtered_users = options_from_collection_for_select(users, :id, :name) %>
  <%= select_tag(:id, filtered_users) %>

  <%= submit_tag("Log out") %>
<% end %>